body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 244, 244);
}

#nav,#bottom-nav {
    background-color: hsl(200, 20%, 25%) !important;
    padding: unset;
}

.white {
    color: white !important;
}

#search {
    width: 34vw !important;
}

#logo {
    max-height: 5vh;
    padding-bottom: 3px;
    margin-left: -0.5vw;
}

#sidebar {
    width: 5vw;
    height: 94vh;
    background-color: hsl(200deg 70% 65% / 31%) !important;
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
    overflow: hidden;
}

#sidebar > a {
    width: fit-content;
    /* max-width: 100%; */
    text-align: center;
    /* padding: unset !important; */
    padding-left: 0.7vw !important;
    /* overflow: hidden; */
}

.d-block:not(.active):hover {
    background-color: hsl(200, 70%, 65%) !important;
}

a.d-block {
    padding-left: 1vw !important;
}

.active {
    background-color: rgb(255, 244, 244) !important;
}

#bottom-nav {
    min-height: 3vh !important;
}

#container {
    position: fixed;
    top: 5vh;
    left: 6vw;
    width: 100vw;
    height: 90vh;
    padding-right: 7vw;
}

#results > div {
    display: none;
}

#results {
    padding: 0px 49vw 0px 0vw !important;
}

.card-body {
    position: relative;
    height: 100%;
}

.card-body > a.btn {
    position: absolute !important;
    bottom: 1vh !important;
}

.card-text {
    margin-bottom: 5vh !important;
}

#teams,#imeps {
    margin-top: 0.4vh !important;
    padding: 0px 27vw 0px 0vw !important;
    margin-left: 0;
}

#newsletter {
    /* text-align: center; */
    margin-left: 0vw;
    width: 93vw;
    /* height: 80vh; */
    padding-bottom: 30vh;
    background-color: rgb(246 250 255);
    padding-top: 1vh;
    padding-left: 1vw;
}

#dropdown-label {
    position: absolute;
    right: 1vw;
    top: 0.55vh;
    font-size: 1.2rem;
    left: 89vw;
    /* padding-left: 0.7vw; */
    background-color: rgb(51 68 77);
    width: 10%;
    margin-top: 0.2vh;
    height: 69%;
    text-align: center;
    border-color: #ffe4c430 !important;
}

#dropdown-label:hover {
    border-color: #ffffffa4 !important;
    cursor: pointer;
}

#new-btn {
    color: hsl(200deg 60% 84%) !important;
}

.mng-row-1 {
    padding: 2vw;
    bottom: 1vw;
}

.card-lower-half {
    /* position: relative; */
    /* margin-top: 7vh; */
    /* padding-bottom: 0vh; */
}

.card-body-container {
    height: 100%;
}

.card-group > .card {
    /* max-width: 15vw; */
    /* text-align: center; */
    /* align-content: center; */
    /* align-items: center; */
    max-width: 21vw;
}

#management-dashboard {
    /* text-align: center; */
    margin-left: 0vw;
    width: 93vw;
    height: 68vh;
    max-height: 68vh;
    padding-bottom: 30vh;
    background-color: rgb(246 250 255);
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    /* overflow: auto; */
    overflow-y: auto;
    overflow-x: hidden;
}

.accordion-body > img {
    max-width: 100%;
}

.card-img-top {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
}

/* width */
#management-dashboard::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #management-dashboard::-webkit-scrollbar-track {
    background: #ffffff00;
  }
  
  /* Handle */
  #management-dashboard::-webkit-scrollbar-thumb {
    background: #e1e1e1;
  }
  
  /* Handle on hover */
  #management-dashboard::-webkit-scrollbar-thumb:hover {
    background: #b2b2b2;
  }